* {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 240, 241, 1.0);
}

.container {
    width: 60vw;
    margin: auto;
    /*background-color: rgba(52, 73, 94, 1.0);*/
    /*color: rgba(236, 240, 241, 1.0);*/
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

nav {
    background-color: rgba(44, 62, 80, 1.0); /* darkest blue */
    text-align: center;
    /*color: rgba(52, 152, 219, 1.0);!*light blue*!*/
    font-size: 1.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.7rem;
    color: rgba(52, 152, 219, 1.0); /*light blue*/
}

.navbar-brand {
    display: inline;
    float: left;
}

.navbar-links {
    display: inline;
    float: right;
}

nav a {
    /*margin:0 0.5rem;*/
    padding: 0 0.5rem;
    font-size: 1.5rem;

    /*border: 1px solid rgba(52, 152, 219, 1.0);*/
    /*border-radius:0.5rem;*/
}

nav a:hover {
    /*color: rgba(44, 62, 80, 1.0); !* darkest blue *!*/
    /*background-color: rgba(52, 152, 219, 1.0); !*light blue*!*/
    border-bottom: 3px solid rgba(52, 152, 219, 1.0);
}

a, a:visited {
    color: rgba(52, 152, 219, 1.0);
    /*color:hotpink;*/
    text-decoration: none;
}

.words {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.word-box {
    /*width: 13vw;*/
    width: 32%;
    /*float: left;*/
    /*display: table-cell;*/
    /*padding: 0.5rem;*/
    /*margin: 1vw;*/
    border: 1px solid rgba(189, 195, 199, 1.0);
    color: rgba(44, 62, 80, 1.0);
    margin-bottom: 0.5rem;
}

.word-box-heading {
    padding: 0.5rem;
}

.word-box-subheading{
    padding: 0.5rem;
}

.word-box-image {
    max-height: 250px;
    overflow: hidden;
}

.word-box-info {
    padding: 0.5rem;

}

.word-box h3 {
    font-size: 1.2rem;
    text-align: center;
}

.word-box p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.word-box a {
    border: 1px solid tomato;
    padding: 0.3rem;
    text-align: right;
}

.myform {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: 20px;
    padding-top: 3rem;
}

.form-group {
    padding-top: 3rem;
}

.form-label {
    width: 30%;
    float: left;
    padding: 0.3rem;
}

.form-element {
    width: 70%;
    float: left;
}

.button-group {
    margin-top: 3rem;
    text-align: center;
}

.button-group input {
    padding: 0.3rem;
}

.form-group input {
    padding: 0.3rem;
    width: 100%;
}

table {
    border-collapse: collapse;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .word-box {
        width: 49%;
    }
}


@media only screen and (max-width: 400px) {
    .word-box {
        width: 100%;
    }
}

h3,h4{
    text-align: center;
    margin: 2rem 0 0.5rem 0;
}
.dropbtn {
  background-color: rgba(0,0,0,0);
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}