<!-- This loads the dictionary page -->

<!-- Making the base HTML show at the top of the page/making part of base html for the page -->
{% extends 'base.html' %}

<!-- Title of the page -->
{% block pageheading %}
Dictionary
{% endblock %}

{% block main %}
<!-- Title and description of the category shown on the page -->
<div class = title>
    <h2>{{ cat_info[0][0] }}</h2>
    <h3>{{ cat_info[0][1] }}</h3>
</div>

<!-- Creating the word boxes for each word -->
    <div class ="words">
        {% for word in word_list %}
        <div class="word-box">
            <div class = "word-box-words">
                <h3>{{ word[0] }}</h3>
                <h3>{{ word[1] }}</h3>
            </div>
            <div class= 'word-box-description'>
                <h4>{{ word[2] }}</h4>
                <a href="/word_page/{{ word[6] }}">More Info</a>
            </div>
            <!-- Getting word image or if none can be found inputting the holder image  -->
            <div class = word-box-image>
                <img src="/static/images/{{ word[5] }}"
                     onerror="this.onerror=null;this.src='/static/images/noimage.png';">
            </div>
            <div class="word-box-description">
                <p> {{ word[7] }} </p>
                <p> {{ word[8] }} </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}