<!-- Loads the signup page -->

<!-- Making the base HTML show at the top of the page/making part of base html for the page -->
{% extends "base.html" %}

<!-- Title -->
{% block pageheading %}sign up{% endblock %}

{% block main %}
<form class="myform" method="post">

    <!-- First name form -->
    <div class="form-group">
       <div class="form-label">First Name:</div>
        <div class="form-element"><input type="text" name="fname" id="fname" required></div>
    </div>
    <div class="error">{{ fname_error }}</div>

    <!-- Last name form -->
    <div class="form-group">
        <div class="form-label">Last Name:</div>
        <div class="form-element"><input type="text" name="lname" id="lname" required></div>
    </div>
    <div class="error">{{ lname_error }}</div>

    <!-- Email form -->
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email" name="email" id="email" required></div>
    </div>

    <!-- Password form -->
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name="password" id="password" required></div>
    </div>
    <div class="error">{{ error }}</div>

    <!-- Confirmation of password -->
    <div class="form-group">
        <div class="form-label">Confirm Password:</div>
        <div class="form-element"><input type="password" name="password2" id="password2" required></div>
    </div>

    <!-- Adding the admin privileges if they are a teacher -->
    <div class="form-group">
        <div class="form-label">Are you a teacher?:</div>
        <div class="form-element"><input type=checkbox name="user_permission" id="user_permission" ></div>
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Signup" required></div>
    </div>
    </div>
</form>
{% endblock %}